# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Log files
logs/
*.log

# Virtual environment
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo
